html, body {
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100vh;
    display: table;

    font-family: Montserrat;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 88px;
    border-bottom: 5px solid lightblue;
    background-color: #008DC9;
    color: white;
}

header h1{
    letter-spacing: 1px;
    float: left;
    color: #FFF;
    font-size: 22px;
    line-height: 60px;
    padding: 0 1em;
    font-weight: normal;
}

nav{
    float: right;
    line-height: 60px;
    margin:0 6em;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a
{
    text-decoration: none;
    font-size: 16px;
    color:white;
    font-weight: lighter;
    padding: 0 20px;
}

nav ul li a:hover
{
    color:black;
}

nav ul li:hover
{
    background-color: lightblue;
}

header img
{
    float:left;
    width: 75px;
    height: 75px;
    padding-left: 60px;
    padding-top: 5px;
}
