html, body {
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100vh;
    display: table;

    font-family: Montserrat;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 88px;
    border-bottom: 5px solid lightblue;
    background-color: #008DC9;
    color: white;
}

header h1{
    letter-spacing: 1px;
    float: left;
    color: #FFF;
    font-size: 22px;
    line-height: 60px;
    padding: 0 1em;
    font-weight: normal;
}

nav{
    float: right;
    line-height: 60px;
    margin:0 1em;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a
{
    text-decoration: none;
    font-size: 16px;
    color:white;
    font-weight: lighter;
    padding: 0 20px;
}

nav ul li a:hover
{
    color:black;
}

nav ul li:hover
{
    background-color: lightblue;
}

header img
{
    float:left;
    width: 75px;
    height: 75px;
    padding-left: 60px;
    padding-top: 5px;
}

header button
{
    display:none;
}

@media screen and (max-width: 800px){

    nav
    {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 43px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 150px;
        z-index: 1;
        right: 0;
        top: 68px;
    }

    header button
    {
        background-color: #008DC9;
        color: white;
        padding: 5px;
        font-size: 30px;
        border: none;
        cursor: pointer;
        display: block;
        float:right;
        margin:15px;
        margin-right: 20px;
    }

    header button:hover
    {
        background-color: #2980B9;
    }

    nav ul li a 
    {
        width: 111px;
        color: black;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    nav ul li a:hover 
    {
        background-color: #ddd;
    }

    .show {display:inline-block;}

    nav ul
    {
        padding: 0px;
        margin: 0px;
        width: 20px;
    }

}
