main {
    display: grid;
    grid-template-areas: "header"
                         "user"
                         "app-data";
    row-gap: 1rem;
}

main h3:first-of-type {
    grid-area: header;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

main .header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

main .user {
    grid-area: user;
}

main .user .disclaimer {
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
}

main .user .fail {
    color: rgba(255, 0, 0, 0.75);
}

main .user .success {
    color: rgba(0, 255, 0, 0.75);
}

main .user .user-info label {
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .25rem;
}

main .user .user-info input {
    display: block;
    margin: 0 auto;
    border: 0px;
    border-radius: .25rem;
    background-color: rgba(41, 77, 115, .075);
}

main .user .user-info button {
    display: block;
    min-width: 8rem;
    height: 44px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem auto;
    background-color: rgba(255, 213, 36, 1);
    border: 0px;
    border-radius: 3px;
}

main .app-data .sr-only {
    position: fixed;
    left: -999999px;
    height: 1px;
    width: 1px;
}

main .app-data {
    grid-area: app-data;
    display: grid;
    grid-template-areas: "header header"
                         "method-collection method-collection"
                         "data data"
                         "button button";
}

main .app-data .header {
    grid-area: header;
}

main .app-data .method-collection {
    grid-area: method-collection;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

main .app-data .method-collection .option {
    margin: .25rem;
}

main .app-data .data {
    margin: 1rem 0;
    grid-area: data;
    display: grid;
    grid-template-areas: "labels inputs";
}

main .app-data .data .labels,
main .app-data .data .inputs {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
}

main .app-data .data .labels label,
main .app-data .data .inputs input {
    margin: .35rem;
}

main .app-data .data .inputs input {
    margin: .25rem .25rem;
    max-width: 30ch;
    border: 0px;
    border-radius: .25rem;
    background-color: rgba(41, 77, 115, .075);
}

main .app-data .data .labels label {
    margin: auto .25rem;
    font-weight: bolder;
}

main .app-data .data .labels {
    text-align: right;
    grid-area: labels;
}

main .app-data .data .inputs {
    grid-area: inputs;
}

main .app-data button[id*="submit"] {
    grid-area: button;
    display: block;
    min-width: 8rem;
    height: 44px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem auto;
    background-color: rgba(255, 213, 36, 1);
    border: 0px;
    border-radius: 3px;
}