@font-face {
    font-family: 'Open-sans';
    src: url('/obis/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/obis/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/obis/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('/obis/fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, serif;
}

* {
    font-family: Open-sans, serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0px;
}

html {
    font-size: 10px;
}

body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body main {
    flex: auto;
}

main input {
    width: 70vw;
    padding: .5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    min-height: 64px;
    top: 0px;
    background-color: #294d73;
    z-index: 1;
}

header a object {
    position: relative;
    z-index: -1;
}

header nav ul {
    margin: 0px;
}

header nav ul li {
    padding: 5px;
    margin: auto 0;
}

header nav button:focus {
    outline: none;
}

header nav .nav-dropmenu {
    background-color: rgba(0,0,0,0);
    border: 0px;
    padding: 0px;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

header nav .nav-button {
    transition: opacity 0.3s;
    color: white;
}

header nav .nav-button-list:hover .nav-button:not(:hover) {
    opacity: 0.5;
}

header .auth {
    display: none;
}

footer {
    padding: 1rem;
    background-color: #192e45;
    color: #e3e3e3;
    font-weight: bold;
    display: grid;
    grid-template-areas:"logos links"
                        "copyright language";
    grid-template-columns: 1fr 1fr;
}

footer .logos {
    grid-area: logos;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
}

footer .logos a { 
    display: flex;
    justify-content: center;
}

footer .logos .logo {
    object-fit: contain;
    width: 25vw;
}

footer .links {
    margin: 0 auto;
    grid-area: links;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
}

footer .links .icon {
    width: 10vw;
    min-width: 20%;
    margin: 0;
}

footer .copyright {
    grid-area: copyright;
    text-align: center;
}

footer .language {
    grid-area: language;
    margin: 0 auto;
}

@media screen and (min-width: 450px) {

    main input {
        width: 65vw;
        padding: .75rem;
    }

    footer {
        grid-gap: 1rem;
        padding: 1rem;
    }
    
}

@media screen and (min-width: 769px) {
    
    html {
        font-size: 11px;
    }
    
    header nav ul {
        display: flex;
    }
    
    header nav ul li {
        border: 0px;
        font-size: 1.5rem;
    }
    
    header nav .nav-button-list {
        display: flex;
        margin: auto 1rem;
    }
    
    header nav .nav-button {
        padding: 0 .75rem;
    }
    
    header nav .nav-dropmenu {
        display: none;
    }
    
    header .auth {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 213, 36, 1);
        height: 4rem;
        min-width: 8rem;
        border-radius: 3px;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25rem;
    }

    header .auth:hover {
        background-color: rgba(255, 213, 36, .9);
    }

    header .auth:active {
        background-color: rgba(255, 213, 36, .75);
    }

    main input {
        width: 60vw;
        padding: 1rem;
    }
    
    footer {
        grid-gap: 2.5rem;
        padding: 2.5rem;
    }
    
}

@media screen and (max-width: 768px){
    
    .nav-button-list {
        display: none;
        position: absolute;
        font-size: 2.5em;
        top: 64px;
        left: 0px;
        right: 0px;
        background-color: #294d73;
        text-align: center;
    }

    .nav-button {
        color: black;
    }

    .show {
        display: block;
    }

}

@media screen and (min-width: 1052px) {
    
    main .table-container table th,
    main .table-container table td {
        padding: 1.75rem;
        border: 1px solid black;
    }
    
    main input {
        width: 50vw;
        padding: 1.5rem;
    }
    
    footer .logos .logo {
        width: 17.5vw;
    }
    
    footer .links .icon {
        width: 10vw;
    }
    
}