@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
        url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body img {
    margin: 0 auto;
    margin-top: 10vh;
    display: block;
    width: 45vw;
    opacity: .75;
}

body {
    font-family: Raleway, serif;
    text-align: center;
}

body .errorcode {
    margin: 5vw;
    font-size: 25vw;
    color: rgba(0, 0, 0, .75);
}

body .errormsg {
    font-size: 7.5vw;
    color: rgba(0, 0, 0, .9);
}

@media screen and (min-width: 630px) {

    body img {
        width: 35vw;
    }

    body .errorcode {
        font-size: 20vw;
    }

    body .errormsg {
        font-size: 5vw;
    }

}

@media screen and (min-width: 890px) {

    body img {
        width: 30vw;
    }

    body .errorcode {
        font-size: 17.5vw;
    }

    body .errormsg {
        font-size: 4vw;
    }

}


@media screen and (min-width: 1020px) {

    body img {
        width: 25vw;
    }

    body .errorcode {
        font-size: 15vw;
    }

    body .errormsg {
        font-size: 3.5vw;
    }

}

@media screen and (min-width: 1160px) {

    body img {
        width: 20vw;
    }

    body .errorcode {
        font-size: 12.5vw;
    }

    body .errormsg {
        font-size: 3vw;
    }

}

@media screen and (min-width: 1340px) {

    body img {
        width: 15vw;
    }

    body .errorcode {
        font-size: 10vw;
    }

    body .errormsg {
        font-size: 2.5vw;
    }

}