main {
    position: relative;
    display: grid;
    grid-template-areas: "main-article"
                         "aside";
    padding: 2rem 0 0 0;
}

main article .underline {
    text-decoration: underline;
}

main article .bold {
    font-weight: bolder;
}

main article .content .inline-link {
    text-decoration: none;
    color: #F47A20;
}

main article .content .inline-link:hover {
    color: rgba(255, 213, 36, 1);
}

main article .content .inline-link:active {
    color: rgba(255, 0, 0, .75);
}

main article .content .calculator a[href*=bmicalculator] {
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 15px;
    background-image: url("/obis/images/external-icon.svg");
}

main article .content {
    grid-area: main-article;
}

main article h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

main article .content section:first-child h3 {
    margin-top: 0px;
}

main article .content {
    margin: 1rem;
    font-size: 1.5rem;
    text-indent: 2rem;
}

main article .content ul {
    list-style: inside;
}

main article .content .calculator {
    width: min-content;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

main article .content .calculator iframe {
    margin: 2.5rem 2.5rem 0rem 2.5rem;
}

main article .content .calculator p {
    margin: 1rem 0;
    text-align: center;
}

main .aside-container {
    grid-area: aside;
    background-color: #294d73;
    display: flex;
    flex-direction: column;
}

main .aside-container .aside-p {
    color: #e3e3e3;
    text-align: center;
    font-size: 1.75rem;
    margin: 1rem 0 0 0;
}

main .aside-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .aside-container ul li {
    width: 40ch;
    margin: 1rem;
    text-align: center;
}

main .aside-container ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(255, 213, 36, 1);
    border-radius: .3rem;
    padding: .5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

main .aside-container ul li a p {
    margin: 0;
    padding: 0;
    background-image: url("/obis/images/external-icon.svg");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 15px;
}

main .aside-container ul li a:hover {
    background-color: rgba(255, 213, 36, .9);
}

main .aside-container ul li a:active {
    background-color: rgba(255, 213, 36, .75);
}

@media screen and (min-width: 769px) {
    
    main {
        margin: 0 auto;
        max-width: 1400px;
        padding: 4rem 0;
        grid-template-areas: "aside main-article"
                            ". main-article";
        grid-template-columns: 1fr 3fr;
        column-gap: 3rem;
    }
    
    main article .content {
        max-width: 70rem;
    }
        
    main .aside-container {
        max-height: min-content;
        background-color: white;
    }
    
    main .aside-container .aside-p {
        color: black;
    }

}

@media screen and (max-width: 1084px) {
    
    main {
        grid-template-areas: "main-article"
                            "aside";
        grid-template-columns: 1fr;
    }
    
}