@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, serif;
}

* {
    font-family: Open-sans, serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0px;
}

html {
    font-size: 11px;
}

body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body main {
    flex: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0px;
    background-color: #294d73;
    z-index: 1;
}

header nav ul {
    margin: 0px;
}

header nav ul li {
    padding: 5px;
    margin: auto 0;
}

header nav button:focus {
    outline: none;
}

header nav .nav-dropmenu {
    background-color: rgba(0,0,0,0);
    border: 0px;
    padding: 0px;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

header nav .nav-button {
    transition: opacity 0.3s;
    color: white;
}

header nav .nav-button-list:hover .nav-button:not(:hover) {
    opacity: 0.5;
}

header .auth {
    display: none;
}

main {
    position: relative;
    display: grid;
    grid-template-areas: "main-article"
                        "aside";
    padding: 2rem 0 0 0;
}

main article .content {
    grid-area: main-article;
}

main article h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0px;
}

main article .content section:first-child h3 {
    margin-top: 0px;
}

main article .content {
    margin: 1rem;
    font-size: 1.5rem;
    text-indent: 2rem;
}

main article .content ul {
    list-style: inside;
}

main .aside-container {
    grid-area: aside;
    background-color: #294d73;
    display: flex;
    flex-direction: column;
}

main .aside-container .aside-p {
    color: #e3e3e3;
    text-align: center;
    font-size: 1.75rem;
    margin: 1rem 0 0 0;
}

main aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main aside ul li {
    width: 75vw;
    margin: 1rem;
    text-align: center;
}

main aside ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(255, 213, 36, 1);
    border-radius: .3rem;
    padding: .5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

main aside ul li a:hover {
    background-color: rgba(255, 213, 36, .9);
}

main aside ul li a:active {
    background-color: rgba(255, 213, 36, .75);
}

footer {
    padding: 1rem;
    background-color: #192e45;
    color: #e3e3e3;
    font-weight: bold;
    display: grid;
    grid-template-areas:"logos" 
                        "links"
                        "bottom-footer";
}

footer .logos {
    grid-area: logos;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
}

footer .logos a {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

footer .logos .logo[src*="fii"] {
    object-fit: contain;
    width: 50%;
}

footer .links {
    grid-area: links;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

footer .icon {
    width: 12.5%;
}

footer .bottom-footer {
    grid-area: bottom-footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .bottom-footer .copyright {
    margin: 0px;
}

@media screen and (min-width: 769px) {
    
    header nav ul {
        display: flex;
    }
    
    header nav ul li {
        border: 0px;
        font-size: 1.5rem;
    }
    
    header nav .nav-button-list {
        display: flex;
        margin: auto 1rem;
    }
    
    header nav .nav-button {
        padding: 0 .75rem;
    }
    
    header nav .nav-dropmenu {
        display: none;
    }
    
    header .auth {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 213, 36, 1);
        height: 4rem;
        width: 8rem;
        border-radius: 3px;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25rem;
    }

    header .auth:hover {
        background-color: rgba(255, 213, 36, .9);
    }

    header .auth:active {
        background-color: rgba(255, 213, 36, .75);
    }
    
    main {
        margin: 0 auto;
        max-width: 1400px;
        padding: 4rem 0;
        grid-template-areas: "aside main-article"
                            ". main-article";
        grid-template-columns: 1fr 3fr;
        grid-gap: 2.5rem;
    }
    
    main article .content {
        max-width: 70rem;
    }
        
    main .aside-container {
        max-height: min-content;
        background-color: white;
    }
    
    main .aside-container .aside-p {
        color: black;
    }
    
    main .aside-container ul li {
        min-width: 10vw;
        max-width: 20vw;
    }
    
    footer {
        grid-template-areas: "logos links"
                            "bottom-footer bottom-footer";
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        padding: 2.5rem;
    }
  
    footer .logos {
        grid-area: logos;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    
    footer .links-container {
        grid-area: links;
        margin: auto 0;
    }
    
    footer .links {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    
    footer .bottom-footer {
        grid-area: bottom-footer;
        justify-content: space-evenly;
    }
    
}

@media screen and (max-width: 1052px) {
    
    main {
        grid-template-areas: "main-article"
                            "aside";
        grid-template-columns: 1fr;
    }
    
    main article .content {
        margin: 0 auto;
    } 
    
    main .aside-container ul li {
        min-width: 30vw;
        max-width: 45vw;
    }
    
    
}

@media screen and (max-width: 768px){

    .nav-button-list
    {
        display: none;
        position: absolute;
        font-size: 2.5em;
        top: 64px;
        left: 0px;
        right: 0px;
        background-color: #294d73;
        text-align: center;
    }

    .nav-button
    {
        color: black;
    }

    .show {
        display: block;
    }

}