main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .fail-disclaimer {
    color: rgba(255, 0, 0, 0.75);
    font-size: 4rem;
}

main .form-container {
    display: flex;
    justify-content: space-around;
}

main .form-container form {
    display: flex;
    flex-direction: column;
}

main .form-container form :nth-child(even) {
    margin: .75rem 0;
}

main .form-container form [id] {
    min-width: 50ch;
    width: 100%;
    padding: 0.05rem;
    border: 0;
    border-radius: 0.25rem;
    background-color: rgba(41, 77, 115, .075);
}

main .sr-only {
    position: fixed;
    left: -999999px;
    height: 1px;
    width: 1px;
}

main .form-container form button[type="submit"] {
    width: 35%;
    height: 44px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem auto 0 auto;
    background-color: rgba(255, 213, 36, 1);
    border: 0px;
    border-radius: 3px;
}

main .form-container form button[type="submit"]:hover {
    background-color: rgba(255, 213, 36, .9);
}

main .form-container form button[type="submit"]:active {
    background-color: rgba(255, 213, 36, .75);
}

main .register-container {
    margin-top: 2rem;
}

main .register-container a[href*="register"] {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;    
    text-transform: uppercase;
}

main .register-container a[href*="register"] div {
    padding: 1rem;
    background-color: rgba(41, 77, 115, 1);
    border-radius: 3px;
}

main .register-container a[href*="register"] div:hover {
    background: rgba(41, 77, 115, 0.75) linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

@media screen and (min-width: 450px) {
    main .table-container table th,
    main .table-container table td {
        padding: .5rem;
    }
    
    main .form-container form [id] {
        min-width: 70ch;
        padding: .5rem;
    }
}

@media screen and (min-width: 769px) {
    
    main .form-container form [id] {
        min-width: 100ch;
        padding: 1rem;
    }
    
}

@media screen and (min-width: 1052px) {

    main .form-container form [id] {
        min-width: 100ch;
        padding: 1.5rem;
    }
    
}