main label {
    text-transform: initial;
    font-weight: 900;
    font-size: 1.15rem;
}

main select {
    border-radius: 0px;
}

main .separator {
    width: 85vw;
    height: 1px;
    background-color: grey;
    border: 1px solid grey;
    margin: 1rem auto;
}

main .sector {
    display: grid;
    grid-template-areas: "drawspace"
                         "options"
                         "export";
}

main .sector > div {
    margin: 0 auto;
}

main .sector .drawspace {
    grid-area: drawspace;
    width: 100vw;
    height: 40vh;
}

main .sector .options {
    grid-area: options;
    display: grid;
    grid-template-areas: "labels selects";
    column-gap: 0.5rem;
}

main .sector .options .labels,
main .sector .options .selects {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 0.5rem;
}

main .sector .options .labels {
    grid-area: labels;
}

main .sector .options .labels label {
    text-align: right;
    margin: auto 0;
}

main .sector .options .selects {
    grid-area: selects;
}

main .sector .options .selects .option {
    margin: auto 0;
}

main .sector .export {
    grid-area: export;
    margin: 2rem 0;
    display: grid;
    grid-template-areas: "label select";
    column-gap: 0.5rem;
}

main .sector .export label {
    grid-area: label;
    text-align: right;
    margin: auto 0;
}

main .sector .export .select-wrapper {
    grid-area: select;
    margin: auto 0;
}

@media screen and (min-width: 769px) {

    main label {
        text-transform: initial;
        font-weight: 900;
        font-size: 1.3rem;
    }
    
    main .sector .drawspace {
        grid-area: drawspace;
        width: 85vw;
        height: 65vh;
    }

}