* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
}

body
{
    width: 100vw;
    font-family: Montserrat;
}

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0vh;
    width: 100%;
    height: 10vh;
    border-bottom: 5px solid lightblue;
    background-color: #008DC9;
    color: white;
}

header h1 {
    justify-self: flex-start;
    letter-spacing: 1px;
    color: white;
    font-size: 2.5rem;
    background-image: url('images/placeholders/logo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    line-height: 60px;
    padding: 0 1em;
    font-weight: normal;
}

header .wrapper-nav {
    justify-self: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
}

nav ul li {
    padding: 0px 2.2rem;
    font-size: 1.8rem;
    color: white;
}

header .wrapper-nav button {
    display: none;
}

/*
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color:white;
    font-weight: lighter;
    padding: 0 20px;
}

nav ul li a:hover {
    color:black;
}

nav ul li:hover {
    background-color: lightblue;
}
*/

/*
header img {
    float:left;
    width: 75px;
    height: 75px;
    padding-left: 60px;
    padding-top: 5px;
}
*/

/*
header button {
    display: none;
}
*/

@media screen and (min-width: ) {
    
    header .wrapper-nav button {
        
    }
    
}

/*
@media screen and (max-width: 800px){

    nav
    {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 43px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 150px;
        z-index: 1;
        right: 0;
        top: 68px;
    }

    header button
    {
        background-color: #008DC9;
        color: white;
        padding: 5px;
        font-size: 30px;
        border: none;
        cursor: pointer;
        display: block;
        float:right;
        margin:15px;
        margin-right: 20px;
    }

    header button:hover
    {
        background-color: #2980B9;
    }

    nav ul li a 
    {
        width: 111px;
        color: black;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    nav ul li a:hover 
    {
        background-color: #ddd;
    }

    .show {display:inline-block;}

    nav ul
    {
        padding: 0px;
        margin: 0px;
        width: 20px;
    }

}
*/
