@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, serif;
}

* {
    font-family: Open-sans, serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0px;
}

html {
    font-size: 11px;
}

body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body main {
    flex: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0px;
    background-color: #294d73;
    z-index: 1;
}

header nav ul {
    margin: 0px;
}

header nav ul li {
    padding: 5px;
    border: 1px solid aqua;
    margin: auto 0;
}

header nav .nav-button-list {
    display: none;
}

header nav .nav-dropmenu {
    background-color: rgba(0,0,0,0);
    border: 0px;
    padding: 0px;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

header nav .nav-button {
    transition: opacity 0.3s;
    color: white;
}

header nav .nav-button-list:hover .nav-button:not(:hover) {
    opacity: 0.5;
}

header .auth {
    display: none;
}

main {
    margin: 2rem 0;
    display: grid;
    grid-template-areas: "title"
                        "descriptions";
}

main .title {
    grid-area: title;
}

main .descriptions {
    grid-area: descriptions;
}

main .descriptions section {
    margin: 3rem 0;
}

main h2:first-child {
    margin-bottom: 0px;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

main h2:first-child + p {
    margin-top: 0px;
    font-size: 2rem;
    text-align: center;
}

main .descriptions section img:first-of-type {
    max-width: 20%;
    float: left;
    margin: 0 1rem;
}

main .descriptions section h3:first-of-type {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0px;
}

main section p {
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-top: 0px;
}

footer {
    padding: 1rem;
    background-color: #192e45;
    color: #e3e3e3;
    font-weight: bold;
    display: grid;
    grid-template-areas:"logos" 
                        "links"
                        "bottom-footer";
}

footer .logos {
    grid-area: logos;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
}

footer .logos a {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

footer .logos .logo[src*="fii"] {
    object-fit: contain;
    width: 50%;
}

footer .links {
    grid-area: links;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

footer .icon {
    width: 12.5%;
}

footer .bottom-footer {
    grid-area: bottom-footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .bottom-footer .copyright {
    margin: 0px;
}

@media screen and (min-width: 769px) {
    
    header nav ul {
        display: flex;
    }
    
    header nav ul li {
        border: 0px;
        font-size: 1.5rem;
    }
    
    header nav .nav-button-list {
        display: flex;
        margin: auto 1rem;
    }
    
    header nav .nav-button {
        padding: 0 .75rem;
    }
    
    header nav .nav-dropmenu {
        display: none;
    }
    
        header .auth {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 213, 36, 1);
        height: 4rem;
        width: 8rem;
        border-radius: 3px;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25rem;
    }

    header .auth:hover {
        background-color: rgba(255, 213, 36, .9);
    }

    header .auth:active {
        background-color: rgba(255, 213, 36, .75);
    }
    
    main {
        margin: 0 auto;
        max-width: 1400px;
    }
    
    main .descriptions {
        margin: 0 auto;
        max-width: 70rem;
    }
    
    footer {
        grid-template-areas: "logos links"
                            "bottom-footer bottom-footer";
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        padding: 2.5rem;
    }
  
    footer .logos {
        grid-area: logos;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    
    footer .links-container {
        grid-area: links;
        margin: auto 0;
    }
    
    footer .links {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    
    footer .bottom-footer {
        grid-area: bottom-footer;
        justify-content: space-evenly;
    }
    
}
