@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, serif;
}

* {
    font-family: Open-sans, serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0px;
}

html {
    font-size: 10px;
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0px;
    background-color: #294d73;
}

header h2 {
    margin: auto 0;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

header nav ul {
    margin: 0px;
}

header nav ul li {
    padding: 5px;
    border: 1px solid aqua;
    margin: auto 0;
}

header nav .nav-button-list {
    display: none;
}

header nav .nav-dropmenu {
    background-color: #294d73;
    border: 0px;
    padding: 0px;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

header nav .nav-button {
    transition: opacity 0.3s;
    color: white;
}

header nav .nav-button-list:hover .nav-button:not(:hover) {
    opacity: 0.5;
}

main article {
    display: grid;
    grid-template-areas: "main-article"
                        "aside";
}

main article .content {
    grid-area: main-article;
}

main article h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

main article .content p {
    margin: 1rem;
    font-size: 1.5rem;
    text-indent: 2rem;
}

main article .aside-container {
    grid-area: aside;
    background-color: #294d73;
    display: flex;
    flex-direction: column;
/*    justify-content: space-evenly;*/
}

main article .aside-container .aside-p {
    color: #e3e3e3;
    text-align: center;
    font-size: 1.75rem;
    margin: 1rem 0 0 0;
}

main article aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
/*    justify-content: space-evenly;*/
}

main article aside ul li {
    display: inline-block;
    background-color: #ffd524;
    border-radius: .3rem;
    width: 75vw;
    padding: .5rem 0;
    margin: 1rem;
    text-align: center;
}

main article aside ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

main article aside ul li a:link {
    color: black;
}

main article aside ul li a:visited {
    color: black;
}

main article aside ul li a:hover {
    
}

main article aside ul li a:active {
    
}

footer {
    padding: 1rem;
    background-color: #192e45;
    color: #e3e3e3;
    font-weight: bold;
    display: grid;
    grid-template-areas:"logos" 
                        "links"
                        "bottom-footer";
}

footer .links-container a:link {
    
}

footer .links-container a:visited {
}

footer .links-container a:hover {
}

footer .links-container a:active {
    
}

footer .logos {
    grid-area: logos;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
}

footer .logos .logo {
    margin: .25rem auto;
    width: 20%;
}

footer .logos .logo[src*="fii"] {
    object-fit: contain;
    width: 50%;
}

footer .links {
    grid-area: links;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

footer .icon {
    width: 12.5%;
}

footer .bottom-footer {
    grid-area: bottom-footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .bottom-footer .copyright {
    margin: 0px;
}

@media screen and (min-width: 768px) {
    
    html {
        font-size: 11px;
    }
    
    header h2 {
        margin: 1rem;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
    }

    header nav ul {
        display: flex;
    }
    
    header nav ul li {
        border: 0px;
        font-size: 1.5rem;
    }
    
    header nav .nav-button-list {
        display: flex;
        margin: auto 1rem;
    }
    
    header nav .nav-button {
        padding: 0 .75rem;
    }
    
    header nav .nav-dropmenu {
        display: none;
    }
    
    main article {
        grid-template-areas: "aside main-article"
                            "aside main-article";
        grid-template-columns: 1fr 3fr;
    }
    
    main article .content {
        margin: 0 1vw;
    }
        
    main article .aside-container {
        background-color: white;
    }
    
    main article .aside-container .aside-p {
        color: black;
    }
    
    main article .aside-container ul li {
        width: 25vw;
    }
    
    footer {
        grid-template-areas: "logos links"
                            "bottom-footer bottom-footer";
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        padding: 2.5rem;
    }
  
    footer .logos {
        grid-area: logos;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    
    footer .links-container {
        grid-area: links;
        margin: auto 0;
    }
    
    footer .links {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    
    footer .bottom-footer {
        grid-area: bottom-footer;
        justify-content: space-evenly;
    }
    
}