
    .text{
        font-family: Open-sans, serif;
        font-size: 130%;  
    }

    .ul-activ{
        list-style: circle;
        padding-left: 20px;
        }

        .button{
            background: #294d73;
            color:white;
            text-align: center;
            white-space: pre;
            border-style:solid;
            font-size:0.875;
            word-wrap: break-word;
            width: 25%;
        }
        .button:hover{
            background: lightblue;
            color:white;
        }
@media (min-width: 600px) and (orientation:landscape){
    .container{
        display: flex;
        max-width: 15%;
        text-align: center;
        cursor: pointer;
        
    }
    .statistics{
        margin: auto;
        width: 80%;
        padding: 10px;
    }
    .graph{
        width: 100%;
        display : flex;
        flex-wrap: wrap;
        font-size: 130%;
        position: relative;
        border : 12px;
        color: #294d73;
    }
    .popup{
        background: rgb(0,0,0,0.6);
        
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        display:none;
        justify-content: center;
        align-items:center;
        align-content: center;
    }
    .popup-content-countries{
        width: 760px;
        height: 580px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        background:#dde6f0;
        padding: 20px;
        border-radius: 5px;
        
    }
    .popup-content-gender{
        height: 200px;
        width: 340px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        background: #dde6f0;
        padding: 20px;
        border-radius: 5px;
    }
    .popup-content-period{
        height: 200px;
        width: 340px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        background: #dde6f0;
        padding: 20px;
        border-radius: 5px;
    }
    .popup-content-format{
        height: 300px;
        width: 340px;
        margin: 0 auto;
        position: relative;
        z-index: 10;
            background: #dde6f0;
        padding: 20px;
        border-radius: 5px;
    }
    .close{
        position:absolute;
        top:-15px;
        right: -15px;
        background: white;
        height:20px ;
        border-radius: 50%;
        box-shadow: 6px 6px 29px -4px  rgb(0,0,0,0.6);
        cursor: pointer;
    }
    .countries{
        display: none;
        flex-wrap: wrap;
        font-family: Open-sans, serif;
        font-size: 130%;
        padding-left: 80px;
        
    }
    
    .country {
        width: 200px;
    }
    
    .continetsContainer{
        display : flex;
    }
    .countriesList{
        cursor: pointer;
        max-width: 250px;
        padding-left: 25px;
        padding-right: 25px;
        font-family: Open-sans, serif;
        font-weight: bold;
        font-size: 130%;
        text-align: center;
    
    }
    .countriesList:hover{
        background: #85b1b8;
        color:black;
    }
    .submit{
        position: absolute;
        bottom:10px;
        right: 10px;
        background:#85b1b8;
        height:30px ;
        box-shadow: 6px 6px 29px -4px  rgb(0,0,0,0.6);
        font-family: Open-sans, serif;
        font-size: 125%;
        cursor: pointer;
    }
    .moreOptions{
        cursor: pointer;
        max-width: 250px;
        padding-left: 25px;
        padding-right: 25px;
        font-family: Open-sans, serif;
        font-weight: bold;
        font-size: 130%;
        text-align: center;
    }
    .gender-options{
        font-family: Open-sans, serif;
        font-size: 130%;
        padding-left: 10%;
    }
    .period-options{
        font-family: Open-sans, serif;
        font-size: 130%;
        padding-left: 10%;
    }
    .format-options{
        font-family: Open-sans, serif;
        font-size: 130%;
        padding-left: 10%;
    }
    .emptynav{
        height: 88px;
    
    }
    
    [type="date"] {
        background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
      }
      [type="date"]::-webkit-inner-spin-button {
        display: none;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
    
}


#PC {display: block;}
#iphone {display: none;}

@media screen and (max-width: 768px) {

#PC {display: none;}
#iphone {display: block;}
.button {
    width: 100%;
}
.format-options{
    font-size: 200%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.submit{
        bottom:10px;
        background:#85b1b8;
        
        padding: 30px 30px 30px 30px;
        box-shadow: 6px 6px 29px -4px  rgb(0,0,0,0.6);
        font-family: Open-sans, serif;
        font-size: 125%;
        cursor: pointer;
        margin: auto;
        width: 100%;
    }
    .popup{
        background:#dde6f0;
        
    }
    .country {
        width: 200px;
    }
    
    .continetsContainer{
        display : flex;
    }
    .countriesList{
        display: flexbox;
        cursor: pointer;
        padding-left: 25px;
        padding-right: 25px;
        font-family: Open-sans, serif;
        font-weight: bold;
        font-size: 200%;
        text-align: center;
    
    }
    .countries{
        display: none;
        flex-wrap: wrap;
        font-family: Open-sans, serif;
        font-size: 200%;
        padding-left: 80px;
        
    }
    
    .countriesList:hover{
        background: #85b1b8;
        color:black;
    }
 
}