.container{
    display: flex;
    max-width: 15%;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    cursor: pointer;
    
}
.graph{
    display : flex;
    flex-wrap: wrap;
    position: relative;
    border : 12px;
    color: cornflowerblue;
}
.button{
    background: #008dc9;
    padding: 5px 100px;
    color:white;
    border: 20px;
    border-style:solid;

}
.button:hover{
    background: #85b1b8;
    color:white;
}
.popup{
    background: rgb(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display:none;
    justify-content: center;
    align-items:center;
    align-content: center;
}
.popup-content-countries{
    height:70%;
    width:45%;
    background:#dde6f0;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.popup-content-gender{
    height:15%;
    width:15%;
    background: #dde6f0;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.popup-content-period{
    height:30%;
    width:40%;
    background: #dde6f0;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.popup-content-format{
    height:30%;
    width:20%;
    background: #dde6f0;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.close{
    position:absolute;
    top:-15px;
    right: -15px;
    background: white;
    height:20px ;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px  rgb(0,0,0,0.6);
    cursor: pointer;
}
.countries{
    display: none;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 110%;
    padding-left: 80px;
    
}

.country {
    width: 200px;
}

.continetsContainer{
    display : flex;
}
.countriesList{
    cursor: pointer;
    max-width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 110%;
    text-align: center;

}
.countriesList:hover{
    background: #85b1b8;
    color:black;
}
.submit{
    position: absolute;
    bottom:10px;
    right: 10px;
    background:#85b1b8;
    height:30px ;
    box-shadow: 6px 6px 29px -4px  rgb(0,0,0,0.6);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 105%;
    cursor: pointer;
}
.moreOptions{
    cursor: pointer;
    max-width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}
.gender-options{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 110%;
    padding-left: 10%;
}
.period-options{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 110%;
    padding-left: 10%;
}
.format-options{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 120%;
    padding-left: 10%;
}
.text{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 120%;  
}